<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/body.css">
    
</head>


<!--include header-->
<%-include('include/_empheader')%>
<!--/include header-->


<body>
    <!-- Side navigation bar start -->
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="sidenav hidescroll">
      <img class="sideNav-logo" src="images/logoWhite.png"/>
      <link rel="stylesheet" href="css/background.css">
<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
                <a href="http://localhost:3000/" class="w3-bar-item w3-button">Inventory Management</a>
                <a href="/sales" class="w3-bar-item w3-button">Sales Management</a>
                <a href="/emp" class="w3-bar-item w3-button">Employee Management</a>
                <a href="#" class="w3-bar-item w3-button">Supplier Management</a>
                <a href="#" class="w3-bar-item w3-button">Home</a>
</div>
         </div>
  </div>
  <!-- Side navigation bar end -->

  <!-- start content -->


<br/>
<link rel="stylesheet" href="css/background.css">
<div class="background-image"></div>
<div class="main">
    <div style="color: Red">
      <h2></h2>
          <!--Header-->
    <header id="header">
      <nav>
       <div class="container">
           <div class="text-center">
               <a href="/" class="nav-brand text-dark">Employee Management</a>
           </div>
           
       </div>
      </nav>
      
    </br>
    <div class="topnav">
        <a href=""></a>
         <a class="" href="#home"> </a>
        </div>
  </header>
<!--/Header-->
<br/>

</div>

<br/>







    <!--Main Site-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d flex justify-between">
                <a href="/add-user" class="border-shadow">
                    <span class="text-gradient"><i class="fa fa-user" aria-hidden="true"></i> Create New Employee</span>
                </a>
            </div>
        </br>
        <input type="text" id="myInput" onkeyup='tableSearch()' placeholder="Search employee...">
            <!--form hadling-->
            <div class="card">
            <form action="/" method="POST">
                <table class="table" id="myTable" data-filter-control="true" data-show-search-clear-button="true">
                    <thead class="thead-dark">
                    
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        <tbody>
                        </tbody>
                        <%-include('include/_empshow')%>
                    </thead>
                </table>
            </form>
        </div>


        <script type="application/javascript">
            function tableSearch() {
                let input, filter, table, tr, td, txtValue;
    
                //Intialising Variables
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
    
                for (let i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[1];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
    
            }
        </script>
    </main>
    <!--/Main Site-->

<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->

  <!-- end page content -->

  </div>
</body>
</html>