<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<link rel="stylesheet" type="text/css" href="login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
<link rel="stylesheet" href="css/login.css">

<script src="https://kit.fontawesome.com/f9663b911f.js" crossorigin="anonymous"></script>

<body>

<div class="container">
    <form action="/loginpage">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="images/img1.jpg" alt="">
                <div class="text">
                    <span class="text-1">Welcome To<br> Kaley Ice Cream</span>
                    <!-- <span class="text-2">Let's get connected</span> -->
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="images/img2.jpg" alt="">
                <div class="text">
                    <span class="text-1">Complete Smile is Good</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
        </div>
        <div class="form-content">
            <div class="login-form">
                <div class="title">Login</div>
                <div class="input-boxes">
                    <div class="input-box">
                        <i class="fas fa-envelope"></i>
                        <input type="text" placeholder="Enter Your Email" >
                    </div>
                    <div class="input-box">
                        <i class="fas fa-lock"></i>
                        <input type="password"  placeholder="Enter Your Password" >
                    </div>
                    <div class="text" ><a href="#">Forgot Password</a> </div>
                    <div class="button input-box">
                        <input type="submit" value="submit">
                    </div>
                    
                    <div class="text login-text">Don't have an Account ? <a href="/registerpage">SignUp Now</a></div>
                </div>
            </div>
        
        </div>
    </form>
</div>

</body>
</html>