 <!-- Inventory Form handling -->                
            <form action="/api/inventorys" method="POST" id="add_user">    
               <div class="new_user">
                    <div class="form-group">
                        <lable for="name" class="text-light">Freazer ID</lable>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="Enter The Freazer Id" required>
                    </div>

                    <div class="form-group">
                        <lable for="category" class="text-light">Category</lable>
                        <!-- <input type="text" name="category" value="" placeholder="Enter The Category" required> -->
                        <select id="select" name="category">
                            <option select disable hidden>Select Category Type</option>
                            <option value="Cup">Cup</option>
                            <option value="Packet">Packet</option>
                            <option value="Bottle">Bottle</option>
                            <option value="Stick">Stick</option>
                            <option value="Cone">Cone</option>
                            <option value="Tub">Tub</option>
                            <option value="Sandwich">Sandwich</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <lable for="flavour" class="text-light">Flavour</lable>
                        <!-- <input type="text" name="flavour" value="" placeholder="Enter The Flavour Type" required> -->
                        <select id="select" name="flavour">
                            <option select disable hidden>Select Flavour Type</option>
                            <option value="Chocolate">Chocolate</option>
                            <option value="Vanila">Vanila</option>
                            <option value="Strawberry">Strawberry</option>
                            <option value="Coffee">Coffee</option>
                            <option value="Mint">Mint</option>
                            <option value="Mango">Mango</option>
                            <option value="Banana">Banana</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <lable for="qty" class="text-light">Quantity</lable>
                        <input type="number" max="100000" min="1" name="qty" value="" placeholder="Enter The Quantity Value" required>
                    </div>

                    <div class="form-group">
                        <lable for="temp" class="text-light">Temparature</lable>
                        <input type="number" max="5" min="-10" name="temp" value="" placeholder="Enter The Temparature Value" required>
                    </div>

                    <div class="form-group">
                        <lable for="gender" class="text-light">Status</lable>
                        <div class="radio inline">
                            <input type="radio" id="radio-2" name="status" value="Active">
                            <label for="radio-2" class="radio-lable">Active</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-3" name="status" value="Inactive">
                            <label for="radio-3" class="radio-lable">Inactive</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Create Inventory</button>
                    </div>
                </div>
            </form> 