 <div class="topnav">
        <a class="#" href="#home">Home</a>
        <a href="http://localhost:3000/">Dashboard</a>
        <a href="http://localhost:3000/add-inventory">Inventory</a>
        <div class="search-container">
       
            <input type="text" placeholder="Search Category.." name="search" id="myInput" onkeyup='tableSearch()'>
            <button type="submit"><i class="fa fa-search"></i></button>

        </div>
        <a href="#">Logout </a>
        <a href="#">Profile <i class="fa-solid fa-user"></i></a>  
</div>