<!-- Create Side Bar Navigation Panel -->

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
	<div id="myNav" class="overlay">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="sidenav hidescroll">
            <img class="sideNav-logo" src="images/logoWhite.png"/>
      <!-- <link rel="stylesheet" href="css/background.css"> -->
<!-- Sidebar -->
            <div class="w3-sidebar w3-light-grey w3-bar-block" id="myDIV" style="width:25%">
                <a href="http://localhost:3000/" class="w3-bar-item w3-button">Inventory Management</a>
                <a href="/sales" class="w3-bar-item w3-button">Sales Management</a>
                <a href="/emp" class="w3-bar-item w3-button">Employee Management</a>
                <a href="#" class="w3-bar-item w3-button">Supplier Management</a>
                <a href="#" class="w3-bar-item w3-button">Home</a>
            </div>
        </div>
	</div>

    <br/>
     <link rel="stylesheet" href="css/background.css">

    <div class="background-image"></div>

        <div class="main">

            <div style="color: rgb(22, 5, 5)">

        <h2></h2>

<!-- End Side Bar Navigation Panel -->
